*{
    margin: 0px;
    padding:5px;
}
body{
    padding-left: 400px;
    padding-right:400px;
    font-family:sans-serif;
    background-color:rgb(255,235,235);
}
ul{
    font-family:sans-serif;
    font-size: 20px;
    background-color: rgb(171 143 157);
    border:0px;
    border-radius:5px;
    list-style: none;
    display:absolute;
    left:100px;
    align-items:center;
    justify-content: center;
    text-align: center;
    color:aliceblue;
}
.heading{
    font-family: sans-serif;
    text-align: center;
    font-family:sans-serif;
}