* {
    margin: 0;
    padding: 3px;
}

header {
    background-color: #974e4e;
}

nav {
    display: flex;
}

.logo {
    width: 215px;
    display: flex;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav ul {
    position: absolute;
    left: 300px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile {
    position: absolute;
    left: 1000px;
}

nav ul li {
    top: 60px;
    list-style: none;
    padding: 0 40px;
}

nav ul li a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #9b4040;
    border:0px;
    border-radius: 50px;
    color: thistle;
}
select{
    position: absolute;
    right: 10px;
    display: flex;
    text-align: right;
    float: right;
}
.dropdown{
    position: relative;
    display: inline-block;
}

footer {
    height: 15vh;
    background-color: #dbdbdb;
    ;
    color: #836868;
    text-align: center;
}

hr {
    background-color: rgb(177, 143, 143);
    border: none;
}

.home {
    position: absolute;
    left: 100px;
}

.about {
    position: absolute;
    left: 200px;
}

.tasks {
    position: absolute;
    left: 300px;
}

.fade {
    color: #4d4a4a;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 60px;
    padding-top: 10vh;
    height: 20vh;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

.impdiv {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#welc {
    animation: showup 7s 1;
    animation-fill-mode: forwards;
    padding-left: 420px;
}

#topart {
    width: 0px;
    animation: reveal 7s 1;
    animation-fill-mode: forwards;
}

#topart span {
    margin-left: -355px;
    animation: slidein 7s 1;
    animation-fill-mode: forwards;
}
#left{
    padding-top: 120px;
    text-align: left;
}
@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: -110px;
    }

    100% {
        margin-left: -110px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 500px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        width: 500px;
    }
}
.prof{
    border:0px;
    border-radius:55px;
}
/* Styling the body */
body {
    margin: 0;
    padding: 0;
}
  
/* Styling section, giving background
    image and dimensions */
section {
    width: 100%;
    height: 100vh;
    background-color: #974e4e;
    background-size: cover;
}
   /* Styling the left floating section */
   section .leftBox {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
  
/* Styling the background of
    left floating section */
section .leftBox .content {
    color: rgb(2, 2, 2);
    background: rgba(230, 224, 224, 0.5);
    padding: 40px;
    transition: .5s;
}
 /* Styling the hover effect 
            of left floating section */
            section .leftBox .content:hover {
                background: #e91e63;
            }
              
            /* Styling the header of left
                floating section */
            section .leftBox .content h1 {
                margin: 0;
                padding: 0;
                font-size: 50px;
                text-transform: uppercase;
            }
              
            /* Styling the paragraph of
                left floating section */
            section .leftBox .content p {
                margin: 10px 0 0;
                padding: 0;
            }
            /* Styling the three events section */
        section .events {
            position: relative;
            width: 50%;
            height: 100%;
            background: rgba(53, 4, 86, 0.5);
            float: right;
            box-sizing: border-box;
        }
          
        /* Styling the links of
        the events section */
        section .events ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            padding: 40px;
            box-sizing: border-box;
        }
         /* Styling the lists of the event section */
         section .events ul li {
            list-style: none;
            background: #fff;
            box-sizing: border-box;
            height: 200px;
            margin: 15px 0;
        }
          /* Styling the time class of events section */
        section .events ul li .time {
            position: relative;
            padding: 20px;
            background: #450316;
            box-sizing: border-box;
            width: 30%;
            height: 100%;
            float: left;
            text-align: center;
            transition: .5s;
        }
          
        /* Styling the hover effect
            of events section */
        section .events ul li:hover .time {
            background: #bd6180;
        }
        /* Styling the header of time
            class of events section */
            section .events ul li .time h2 {
                position: absolute;
                margin: 0;
                padding: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 60px;
                line-height: 30px;
            }
              
            /* Styling the texts of time
            class of events section */
            section .events ul li .time h2 span {
                font-size: 30px;
            }
             /* Styling the details
        class of events section */
        section .events ul li .details {
            padding: 20px;
            background: #fff;
            box-sizing: border-box;
            width: 70%;
            height: 100%;
            float: left;
        }
        /* Styling the header of the
        details class of events section */
        section .events ul li .details h3 {
            position: relative;
            margin: 0;
            padding: 0;
            font-size: 22px;
        }
          
        /* Styling the lists of details
        class of events section */
        section .events ul li .details p {
            position: relative;
            margin: 10px 0 0;
            padding: 0;
            font-size: 16px;
        }
        /* Styling the links of details
        class of events section */
        section .events ul li .details a {
            display: inline-block;
            text-decoration: none;
            padding: 10px 15px;
            border: 1.5px solid #262626;
            margin-top: 8px;
            font-size: 18px;
            transition: .5s;
        }
          
        /* Styling the details class's hover effect */
        section .events ul li .details a:hover {
            background: #a83058;
            color: #fff;
            border-color:#bd6180;
        }
.schedule{
    top:360px;
    position:absolute;
    right:35px;
    cursor:pointer;
    display:inline-block;
    width:30%;
    background: rgb(68, 59, 74);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.schedule:focus{
    outline:0;
}
.schedule:active{
    transform:scale(0.98);
}
/* Dropdown Button */
.dropbtn {
    position:absolute;
    top:-45px;
    left:1100px;
    background-color: transparent;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    border:0px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top:45px;
    left:1005px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:transparent;}